.experience {
  margin: 15rem 0;
  max-width: 700px;
  .title {
    font-family: var(--raleway);
    color: var(--lightest-slate);
    position: relative;
    h2 {
      margin-bottom: 2rem;
      font-size: var(--tx2large);
      font-weight: 700;
      &::before {
        counter-increment: title;
        content: '0' counter(title) '. ';
        margin-right: 0.5rem;
        color: var(--theme-color);
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 100px;
        height: 2px;
        width: 430px;
        background-color: var(--lightest-navy);
        margin-left: 180px;
      }
    }
  }
  .singleContainer {
    .exp-slider {
      list-style-type: none;
      position: relative;
      height: max-content;
      .underline {
        background-color: var(--theme-color);
        position: absolute;
        left: -0.5px;
        top: 0;
        height: 3.5rem;
        width: 3px;
        transition: 0.3s ease-in-out;
      }
      &::before {
        position: absolute;
        left: 0px;
        content: '';
        height: 100%;
        width: 1px;
        background-color: var(--lightest-navy);
      }
      &-item {
        height: 3.5rem;
        padding: 0 1.5rem;
        display: flex;
        vertical-align: middle;
        cursor: pointer;
        width: 100%;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--slate);
          font-size: var(--tsm1);
          font-family: var(--fira-code);
        }
        &:hover {
          background-color: var(--lightest-navy);
          span {
            color: var(--theme-color);
          }
        }
      }
      &-item-selected {
        span {
          color: var(--theme-color);
        }
      }
    }
    .exp-details {
      font-family: var(--raleway);
      &-position {
        color: var(--lightest-slate);
        &-company {
          color: var(--theme-color);
        }
      }
      &-range {
        color: var(--light-slate);
      }
      &-list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-left: 20px;
        margin-top: 1rem;
        gap: 1rem;
        &-item {
          position: relative;
          font-weight: 500;
          color: var(--slate);
          &::before {
            content: '▹';
            position: absolute;
            left: -20px;
            top: 6px;
            color: var(--theme-color);
            line-height: 12px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 968px) {
    .title {
      h2 {
        &::after {
          width: 100px;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    margin: 5rem auto;
    .container {
      grid-template-columns: 1fr;
      padding: 1rem;
      .exp-details {
        height: max-content;
      }
      .exp-slider {
        display: flex;
        overflow-x: scroll;
        &-item {
          height: 100px;
          width: 200px !important;
        }
        &::before {
          display: none;
        }
        .underline {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    .title {
      h2 {
        &::after {
          display: none;
        }
      }
    }
  }

  .container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1rem;
    .exp-slider {
      list-style-type: none;
      position: relative;
      height: max-content;
      .underline {
        background-color: var(--theme-color);
        position: absolute;
        left: -0.5px;
        top: 0;
        height: 3.5rem;
        width: 3px;
        transition: 0.3s ease-in-out;
      }
      &::before {
        position: absolute;
        left: 0px;
        content: '';
        height: 100%;
        width: 1px;
        background-color: var(--lightest-navy);
      }
      &-item {
        height: 3.5rem;
        padding: 0 1.5rem;
        display: flex;
        vertical-align: middle;
        cursor: pointer;
        width: 100%;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--slate);
          font-size: var(--tsm1);
          font-family: var(--fira-code);
        }
        &:hover {
          background-color: var(--lightest-navy);
          span {
            color: var(--theme-color);
          }
        }
      }
      &-item-selected {
        span {
          color: var(--theme-color);
        }
      }
    }
    .exp-details {
      font-family: var(--raleway);
      &-position {
        color: var(--lightest-slate);
        &-company {
          color: var(--theme-color);
        }
      }
      &-range {
        color: var(--light-slate);
      }
      &-list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-left: 20px;
        margin-top: 1rem;
        gap: 1rem;
        &-item {
          position: relative;
          font-weight: 500;
          color: var(--slate);
          &::before {
            content: '▹';
            position: absolute;
            left: -20px;
            top: 6px;
            color: var(--theme-color);
            line-height: 12px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 968px) {
    .title {
      h2 {
        &::after {
          width: 100px;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    margin: 5rem auto;
    .container {
      grid-template-columns: 1fr;
      padding: 1rem;
      .exp-details {
        height: max-content;
      }
      .exp-slider {
        display: flex;
        overflow-x: scroll;
        &-item {
          height: 100px;
          width: 200px !important;
        }
        &::before {
          display: none;
        }
        .underline {
          display: none;
        }
      }
    }
  }
  @media screen and (max-width: 480px) {
    .title {
      h2 {
        &::after {
          display: none;
        }
      }
    }
  }
}
