:root {
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --background-color: #0a192f;
    --lightest-navy: #233554;
    --light-navy: #112240;
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #ccd6f6;
    --lightest-slate: #a8b2d1;
    --theme-color: #9d00ff;

    --tsm: 13px;
    --tsm1: 14px;
    --tsm2: 15px;
    --tbase: 16px;
    --tlarge: 18px;
    --tlarge2: 22px;
    --txlarge: 25px;
    --tx2large: 32px;
    --tgiant: clamp(40px, 8vw, 80px);
    @media screen and (max-width: 480px) {
      --tx2large: 25px;
      // --tgiant: 40px;
    }
  }